MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=

GO_PORT=8095

REDIS_MAIN_HOST=
REDIS_MAIN_PORT=
REDIS_MAIN_PASSWORD=
REDIS_MAIN_CONNECT_TIMEOUT=
REDIS_MAIN_TIMEOUT=
REDIS_MAIN_DATABASE_ORDERS_ACTIVE=
